<nav class="navbar fixed-top navbar-expand-lg custom">
    <div class="container-fluid" >
      <a class="navbar-brand" href="/" style="color: #17594A;">Heath Care</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="<%=url%>">Health-Check</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/doctors">Doctors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/bookings">Bookings</a>
          </li>

          <% if(user && user.profile=="retailer"){%>
          <li class="nav-item">
            <a class="nav-link" href="/mydoctors">Our Doctors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/doctors/new">Add doctor</a>
          </li>
          <%}%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Options
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/signup">Signup other Account</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">logout</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          

        </ul>
        <%- include('./user') %>
      </div>
    </div>
  </nav>