<% if(!user) {%>
<ul class="navbar-nav mb-2 mb-lg-0 d-flex">
    <li class="nav-item">
      <a class="nav-link" href="/signup">Signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
</ul>
<%} else { %>
    <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
      <li class="nav-item">
        <a href="/saved" class="nav-link ">Saved</a>
      </li>
        <li class="nav-item">
            <a class="nav-link   active" href="/profile/<%=user.id%>"><%=user.username %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/logout">Logout</a>
        </li>
    </ul>
<%} %>