<%- layout('./layout/boilerplate') %>
<div class="row">
  <div class="col-lg-4 mx-auto">
    <div class="card" style="width: 18rem">
      <img
        src="/images/creator.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Vishnukant Shukla</h5>
        <p class="card-text">Email: vishnukantshukla820@gmail.com</p>
        <p class="card-text">Contact No: 9876543210</p>
        <a href="https://drive.google.com/file/d/1scpLl26kqJf2MVBj5aubTEOotkD5pqkA/view?usp=sharing" class="btn btn-primary" target="_blank">Resume Link</a>
      </div>
    </div>
  </div>
</div>
