<%- layout('./layout/boilerplate') %>
<div class="row">
  <div class="col-lg-4 mx-auto">
    <div class="card" style="width: 18rem">
      <img
        src="/images/creator.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Anikate Agrawal</h5>
        <p class="card-text">Email: anikateag7316@gmail.com</p>
        <p class="card-text">Contact No: 9358817798</p>
        <a href="https://anikateagrawal.github.io/My-Resume/" class="btn btn-primary" target="_blank">Portfolio Website</a>
      </div>
    </div>
  </div>
</div>
