.team{ 
    background-color:#17594A ;
    color: white;
    flex: 1;
    text-align: left;
    padding-bottom: 1%;
}
.team .div1{
    padding: 3% 25% 0% 10%;
}
.div1 p{
    line-height: 2;
    font-weight: lighter;
}
.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}
.div2 img{
    height: 250px;
    width: 250px;
    
}
.div3{
    width: 250px;
    height: 50px;
    background-color: white;
    color: #17594A;
    text-align: center;
    font-weight: bolder;
    line-height: 1.5;
}

.split-layout {
    display: flex;
    height: 100%;
    padding-bottom: 43px;
}

.left-half {
    padding: 60px;
    flex: 1;
    background-color:#17594A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: left;
}

.left-half p {
    padding: 20%;
    margin-bottom: 30px;
    text-align: left;
}

.left-half button {
    background-color: #E4F1FF;
    color: #17594A;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    height: 50px;
    width: 250px;
    border-radius: 25px;
    font-weight: bold;
}

.right-half {
    flex: 1;
    padding: 50px;
    background-color:#E4F1FF ;
    color: #0c3b30;
}

.right-half form {
    padding: 20px;
}

.right-half form label {
    display: block;
    /* margin-bottom: 10px; */
}

.right-half form input,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 0px solid #ccc;
    border-bottom:2px solid #ccc;
    border-radius: 5px;
}

.right-half form button{
    background-color: #17594A;
    color: #E4F1FF;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    font-weight: bold;
}

.serviceCard{
    display: flex;
    align-items: center;
    justify-content: center;
    display:grid;
    grid-gap:25px;
    grid-template-columns:repeat(3, minmax(0,1fr));
}

.serviceCard div{
    text-align: center;
    /* align-items: center; */
    border:3px solid #17594A;
    border-radius:10px;
    box-shadow:rgb(0 0 0 / 69%) 0px 26px 30px -10px,rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    overflow:hidden;
    line-height: 1.5;
    height: 100%;
}

.service{
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 50px;
    font-weight: bold;
}

.service h1{
    color: #17594A;
    padding: 20px;
    padding-top: 0;
}

.serviceCard h3{
    background-color: #bcf2e5;
    color: #17594A;
    padding: 20px;
}

.serviceCard p{
    padding: 20px;
}

.serviceCard button{
    background-color: #0c3b30;
    color: white;
    padding: 10px;
    width: 50%;
    border-radius: 20px;
    box-shadow:rgb(0 0 0 / 69%) 0px 26px 30px -10px,rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    font-size: large;
    
}