<div class="service">
    <h1><b>Services</b></h1>
    <div class="serviceCard">
        <div>
            <h3>SymptomSense Health Advisor</h3>
            <p>Experience personalized healthcare with our innovative Symptom-Based Disease Recommendation service. 
                Our platform leverages advanced algorithms to analyze your symptoms, providing accurate and timely suggestions for
                 potential health conditions. 
                Empower yourself with informed decisions and proactive care, ensuring your well-being is our top priority</p>
            <button class="m-3 mb-4">Button</button>
        </div>
        <div>
            <h3>EasyBookingMD: Streamlined Appointment Management</h3>
            <p>Simplify your healthcare journey with our Doctor Appointment System. Seamlessly book appointments online, manage your medical 
                schedule, and receive timely reminders. Enhance your
                 access to quality healthcare by streamlining the appointment process for a more efficient and convenient patient experience.</p>
            <button class="m-3 mb-4">Button</button>
        </div>
        <div>
            <h3>HealthAware Hub: Empowering Wellness</h3>
            <p>Elevate community health through our Disease Awareness Program. We are committed to fostering a culture of understanding and prevention. Explore informative resources, engaging campaigns, and expert insights to increase awareness and promote proactive healthcare practices. 
                Together, let's build a healthier and informed community for a brighter future.</p>
            <button class="m-3 mb-4">Button</button>
        </div>
    </div>
</div>