<div class="team">
    <div class="container div1 my-5">
        <h1 style="font-family: 'Times New Roman', Times, serif;" class="my-3">Our Team.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, aspernatur delectus! Deleniti, 
            facilis asperiores animi necessitatibus quam numquam, voluptas neque explicabo nesciunt inventore 
            temporibus cupiditate illum aperiam quia sint distinctio!</p>
    </div>
    <div class="container team div2">
        <div class="m-2">
            <img src="https://uc6ee6029f4d0796c6e60663b1e7.previews.dropboxusercontent.com/p/thumb/ACeUtE5CUkLxOIOAyG3cOP8GINvHGBpuroaFlY_63HDTAL5ZDOYTRUZDkkudPSMhlnF6J8_yfqtKabLSK11aW1T3xViyIbKpZUeOjrjqjOSSLRpq7uo-fPnVMJRsdqtRtF_3jOXTp-NNEF1n5Q6yRcBNG9ubsYbIsgBOz971WgOKwhBcvhf9bq8pQM3lU8DqPrjJea43zpKdN69kflpLM89ESPwVyeZ9BJf1F3_hi7Q5lUtd0mW3ACBxXXvq3X3l01EDEx1VQ31-gTESIcPJ5j5LSeDmNGMdPoi2S_IDpT0K6Woy_yBQP2G2usPmxYPa0kllz58FKlqLElQ15LSUDz8RLA1imWRS9OrujCLdSn5MkBJc3-bYbAIASsc9YYLgdN8/p.jpeg?is_prewarmed=true" alt="">
            <div class="div3">
                <p>Vishnukant Shukla <br>Frontend And Backend developer
                </p>
            </div>
        </div>
        <div class="m-2">
            <img src="https://media.licdn.com/dms/image/v2/D5603AQGUawh3ZqXxDg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1711595419110?e=1738195200&v=beta&t=uPDhauHNOqn5t36KSCO7JIBV6P5WTmWes4sG3Sz1PPc" alt="Piyush Varshney Image">
            <div class="div3">
                <p>Piyush Varshney <br>Backend Developer And Data Scientist
                </p>
            </div>
        </div>
        <div class="m-2">
            <img src="https://media.licdn.com/dms/image/v2/D4D03AQFvJrJCF35APg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1691187099060?e=1738195200&v=beta&t=y7ZsFG-KYp6OgG3WT8KlIeDbR3Bf1xUI-Ox6Lz8PTCg" alt="Harsh Sharma Image">
            <div class="div3">
                <p>Harsh Sharma <br>Backend developer
                </p>
            </div>
        </div>
        <div class="m-2">
            <img src="https://media.licdn.com/dms/image/v2/D4D03AQHdPEUecGflEw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1681874070580?e=1738195200&v=beta&t=VxMnJuNBA4dz2RZ_0wDldVFSoD6d4lzsKo6qU1i7aDI">
            <div class="div3">
                <p>Prakhar Mittal <br> Data Science And Backend developer
                </p>
            </div>
        </div>
    </div>
</div>
