<div class="team">
    <div class="container div1 my-5">
        <h1 style="font-family: 'Times New Roman', Times, serif;" class="my-3">Our Team.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, aspernatur delectus! Deleniti, 
            facilis asperiores animi necessitatibus quam numquam, voluptas neque explicabo nesciunt inventore 
            temporibus cupiditate illum aperiam quia sint distinctio!</p>
    </div>
    <div class="container team div2">
        <div class="m-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbR4n6lzmBoQRRGCjICBBU7g5m4FSl_rniwg&usqp=CAU" alt="">
            <div class="div3">
                <p>Ishika Chaturvedi <br>Backend developer
                </p>
            </div>
        </div>
        <div class="m-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbR4n6lzmBoQRRGCjICBBU7g5m4FSl_rniwg&usqp=CAU" alt="">
            <div class="div3">
                <p>Ishika Chaturvedi <br>Backend developer
                </p>
            </div>
        </div>
        <div class="m-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbR4n6lzmBoQRRGCjICBBU7g5m4FSl_rniwg&usqp=CAU" alt="">
            <div class="div3">
                <p>Ishika Chaturvedi <br>Backend developer
                </p>
            </div>
        </div>
        <div class="m-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbR4n6lzmBoQRRGCjICBBU7g5m4FSl_rniwg&usqp=CAU" alt="">
            <div class="div3">
                <p>Ishika Chaturvedi <br>Backend developer
                </p>
            </div>
        </div>
    </div>
</div>
